# Python cache files
**/__pycache__
**/__pycache__/**
**/.pytest_cache
.pytest_cache
.ruff_cache

# IDE settings
**/.vscode
**/.idea

# Virtual environment
.venv

# Package files
housing_bot/housing_bot.egg-info

# Test coverage
.coverage
coverage.xml

config.yaml
