# Python cache files
*/__pycache__
*/.pytest_cache
.pytest_cache
.ruff_cache

# IDE settings
*/.vscode
*/.idea

# Virtual environment
.venv

# Package files
plaza_bot/plaza_bot.egg-info

# Test coverage
.coverage
coverage.xml

config.yaml
